<ul *ngIf="totalItems > pageSize" class="nav pagination">
    <li class="nav-item" [class.disabled]="currentPage == 1">
        <a class="nav-link" (click)="previous()" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        </a>
    </li>
    <li class="nav-item" [class.active]="currentPage == page" *ngFor="let page of pages" (click)="changePage(page)">
        <a class="nav-link">{{ page }}</a>
    </li>
    <li class="nav-item" [class.disabled]="currentPage == pages.length">
        <a class="nav-link" (click)="next()" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        </a>
    </li>
</ul>
